.flexContainer{
    display:flex;
}
<!--My UX Skills sectin coded using CSS flex-->
div{
    width: 33%;
    margin: 50px;
    padding: 40px;
    column-rule-width:1px;
    flex-flow: column wrap; 
    }
<!--My Work Section Constructed using CSS Grid-->
.workGrid{
    margin: 0px 1%;
    display: grid;
    grid-template-areas:
    "Mobile App"
    "Government Site Redesign"
    "Non-profit Redesign"
    ;
    
    grid-template-columns: 33% 33% 32%;
    grid-template-rows: 33% 33% 32%;
    justify-content: space-evenly; 
    justify-content: space-around;
}
@media only screen and (max-width:600) {
    body {background-color: darkseagreen;}
   }
